body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(222, 223, 233); */
  background-image: url("./pic/undersea\ small.png");
  border: 2px solid blue;
}

#div1 {
  position: relative;
  height: 100vh;
}
#btn {
  position: absolute;
  background: transparent;
  padding: 61px 100px;
  border: none;
  background-image: url(./pic/fish1.png);
  background-repeat: no-repeat;
}
